[Unit]
Description=Spring Boot Application
After=syslog.target

[Service]
User=agusk
ExecStart=/home/agusk/.sdkman/candidates/java/current/bin/java -jar /opt/spring-boot-apps/mywebapp-0.0.1-SNAPSHOT.jar
SuccessExitStatus=143
Restart=always

[Install]
WantedBy=multi-user.target
